[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alikn/intro_to_business_analytics/blob/main/2_select_from_queries.ipynb)

In [1]:
%load_ext sql
%pip install mysqlclient

In [7]:
host = 'bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315' # @param {type:"string"}
user_name = '' # @param {type:"string"}
password = '' # @param {type:"string"}
db_address = f'mysql://{user_name}:{password}@bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315'
%sql {db_address}

### Exercise 1:
SELECT all columns and rows from nfl_combine table.

In [ ]:
query1 = """
SELECT *
FROM abt_datasets.nfl_combine
"""
%sql {query1}

What does each row in the table represent?

### Exercise 2:
SELECT columns name, position, college, round.

In [ ]:
query2 = """
Add your query here
"""
%sql {query2}

### Exercise 3:
SELECT all columns and rows from zillow_transactions table.

In [ ]:
query3 = """
Add your query here
"""
%sql {query3}

### Exercise 4:
Select columns state, city, and mkt_price from table zillow_transactions.

In [ ]:
query4 = """
Add your query here
"""
%sql {query4}

### Exercise 5:
Write a query which outputs a new column that shows mkt_price divided by 1000.
- Hint: this will take place in the SELECT clause

In [ ]:
query5 = """
Add your query here
"""
%sql {query5}