# DISTINCT, ORDER BY, LIMIT

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alikn/intro_to_business_analytics/blob/main/3_distinct_orderby_limit.ipynb)

In [ ]:
%load_ext sql
%pip install mysqlclient

In [ ]:
host = 'bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315' # @param {type:"string"}
user_name = '' # @param {type:"string"}
password = '' # @param {type:"string"}
db_address = f'mysql://{user_name}:{password}@bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315'
%sql {db_address}

We will use college_football_players table for this exercise. Remember to include the database name (abt_datasets) in front of the table name in the query.

In [ ]:
# Example:
query0 = """
SELECT *
FROM abt_datasets.college_football_players
"""
%sql {query0}

### Exercise 1
What are the height and weight of players in college_football_players in metric units.  
To convert inch to cm, multiply by 2.54.  
To convert pound to kg, multiply by 0.453592.

In [ ]:
query1 = """
Add your query here
"""
%sql {query1}

### Exercise 2
How many different states are players from?

In [ ]:
query2 = """
Add your query here
"""
%sql {query2}

### Exercise 3
What are the heights of three tallest players on the team?

In [ ]:
query3 = """
Add your query here
"""
%sql {query3}

### Exercise 4
If we order the name of players alphabetically, what is the name on the top?

In [ ]:
query4 = """
Add your query here
"""
%sql {query4}