# Selection using WHERE clause

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alikn/intro_to_business_analytics/blob/main/3_selection_using_where_clause.ipynb)

In [ ]:
%load_ext sql
%pip install mysqlclient

In [ ]:
host = 'bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315' # @param {type:"string"}
user_name = '' # @param {type:"string"}
password = '' # @param {type:"string"}
db_address = f'mysql://{user_name}:{password}@bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315'
%sql {db_address}

We will use `air_traffic_landings_passengers` table for this exercise. This table has more than 20k rows so use the LIMIT clause whenever you are not sure how many rows will be returned.

In [ ]:
# Example:
query0 = """
SELECT *
FROM abt_datasets.air_traffic_landings_passengers
LIMIT 10
"""
%sql {query0}

### Exercise 1
Select the rows where the operating airline is 'Air France'.

In [ ]:
query1 = """
Add your query here
"""
%sql {query1}

### Exercise 2
Select the rows where the aircraft body type is 'Wide Body'.

In [ ]:
query2 = """
Add your query here
"""
%sql {query2}

### Exercise 3
Select Air Canada's wide body aircrafts.

In [ ]:
query3 = """
Add your query here
"""
%sql {query3}

### Exercise 4
What is the weight of the heaviest aircraft owned by Air France?

In [ ]:
query4 = """
Add your query here
"""
%sql {query4}

### Exercise 5
Among the narrow body aircrafts owned by Air Canada, what is the highest passenger count?

In [ ]:
query5 = """
Add your query here
"""
%sql {query5}