# Data Transformation

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alikn/intro_to_business_analytics/blob/main/5_data_transformation.ipynb)

In [ ]:
%load_ext sql
%pip install mysqlclient

In [ ]:
host = 'bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315' # @param {type:"string"}
user_name = '' # @param {type:"string"}
password = '' # @param {type:"string"}
db_address = f'mysql://{user_name}:{password}@bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315'
%sql {db_address}

We will use the `winemag_p1` tables.

In [ ]:
query0 = """
SELECT *
FROM abt_datasets.winemag_p1
LIMIT 10
"""
%sql {query0}

### Exercise 1
Create a new column named "points_over_price" which is has the value of points devided by price.

In [ ]:
query1 = """
Add your query here
"""
%sql {query1}

### Exercise 2
Create a new column named "normalized_points" which is in a scale of 0 to 1 rather than 0 to 100.

In [ ]:
query2 = """
Add your query here
"""
%sql {query2}

### Exercise 3
Create a new column named "region" which is made by attaching `region_1` and `region_2` with a dash in between.

In [ ]:
query3 = """
Add your query here
"""
%sql {query3}

### Exercise 4
Create a new column named "imported" which is "no" if wine is produced in US and otherwise is "yes".

In [ ]:
query4 = """
Add your query here
"""
%sql {query4}

### Exercise 5
Create a new column named "cost". It should have a value of "expensive" if wine's price is equal or greate than 100 and otherwise "cheap".

In [ ]:
query5 = """
Add your query here
"""
%sql {query5}

### Exercise 6
Create a new column named "bargain" which has a value of "true" if the wine's point is higher than 90 and its price is lower than $20. Otherwise the columns should be "false".

In [ ]:
query6 = """
Add your query here
"""
%sql {query6}

### Exercise 7
Continuing on the last exercise, find all the bargain wines.

In [ ]:
query7 = """
Add your query here
"""
%sql {query7}

### Exercise 8
As you have probably noticed, `region_1` and `region_2` columns can be null. If only one of them is not null, it is always `region_1`.
Create a new `region` column where the value is made by concatenating the two columns with a comma in between, only if their value is not null. If both columns are null, the new column should show a dash ('-').  
Example output:  

|region_1|region_2|region|
|-----|-----|-----|
|Paso Robles|Central Coast|Paso Robles, Central Coast|
|Virginia|null|Virginia|
|null|null|-|

In [ ]:
query8 = """
Add your query here
"""
%sql {query8}