# Joining tables

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alikn/intro_to_business_analytics/blob/main/5_join.ipynb)

In [ ]:
%load_ext sql
%pip install mysqlclient

In [ ]:
host = 'bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315' # @param {type:"string"}
user_name = '' # @param {type:"string"}
password = '' # @param {type:"string"}
db_address = f'mysql://{user_name}:{password}@bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315'
%sql {db_address}

We will use differernt tables for this notebook. All tables are part of `abt_datasets` database.

### Exercise 1
Join `facebook_posts` and `facebook_reactions` tables and output all columns.

In [ ]:
query1 = """
Add your query here
"""
%sql {query1}

### Exercise 2
Join `employee` and `bonus` tables and output all columns.

In [ ]:
query2 = """
Add your query here
"""
%sql {query2}

### Exercise 3
Join `worker` and `title` tables and output all columns.

In [ ]:
query3 = """
Add your query here
"""
%sql {query3}

### Exercise 4
Join `airbnb_hosts` and `airbnb_apartments` tables and output all columns.

In [ ]:
query4 = """
Add your query here
"""
%sql {query4}

### Exercise 5
Using tables `airbnb_hosts` and `airbnb_apartments` find the number of hosts that have apartments in countries of which they are not citizens.

In [ ]:
query5 = """
Add your query here
"""
%sql {query5}

### Exercise 6
DeepMind employment competition. The winning team is the team with highest average score of members. Use data in tables `google_competition_participants` and `google_competition_scores`.

In [ ]:
query6 = """
Add your query here
"""
%sql {query6}

### Exercise 7
With data in `facebook_reactions` and `facebook_posts` tables, find all posts which were reacted to with a heart.

In [ ]:
query7 = """
Add your query here
"""
%sql {query7}