# Aggregate functions and grouping

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alikn/intro_to_business_analytics/blob/main/6_aggregate_functions_and_group_by.ipynb)

In [ ]:
%load_ext sql
%pip install mysqlclient

In [ ]:
host = 'bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315' # @param {type:"string"}
user_name = '' # @param {type:"string"}
password = '' # @param {type:"string"}
db_address = f'mysql://{user_name}:{password}@bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315'
%sql {db_address}

We will use `titanic` table for this exercise.

In [ ]:
query0 = """
SELECT *
FROM abt_datasets.titanic
LIMIT 10
"""
%sql {query0}

### Exercise 1
Find out how many passengers were on Titanic and how many survived.

In [ ]:
query1 = """
Add your query here
"""
%sql {query1}

### Exercise 2
What was the maximum age among the passengers who survived?

In [ ]:
query2 = """
Add your query here
"""
%sql {query2}

### Exercise 3
What was the survival rate for Titanic passengers?

In [ ]:
query3 = """
Add your query here
"""
%sql {query3}

### Exercise 4
What was the survival rate of men and women?

In [ ]:
query4 = """
Add your query here
"""
%sql {query4}

### Exercise 5
What was the survival rate between different passenger classes?

In [ ]:
query5 = """
Add your query here
"""
%sql {query5}

### Exercise 6
What was the survival rates by sex and class?

In [ ]:
query6 = """
Add your query here
"""
%sql {query6}

### Exercise 7
What was the survival rate for passengers under 20 years old?

In [ ]:
query7 = """
Add your query here
"""
%sql {query7}

### Exercise 8
Which subgroup of sex, passenger class and embarked had the highest rate of survival?

In [ ]:
query8 = """
Add your query here
"""
%sql {query8}