# Case expression

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alikn/intro_to_business_analytics/blob/main/7_case_when_then.ipynb)

In [ ]:
%load_ext sql
%pip install mysqlclient

In [ ]:
host = 'bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315' # @param {type:"string"}
user_name = '' # @param {type:"string"}
password = '' # @param {type:"string"}
db_address = f'mysql://{user_name}:{password}@bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315'
%sql {db_address}

We will use the `winemag_p1` tables.

In [ ]:
query0 = """
SELECT *
FROM abt_datasets.winemag_p1
LIMIT 10
"""
%sql {query0}

### Exercise 1
Create a new column named "imported" which is "no" if wine is produced in US and otherwise is "yes".

In [ ]:
query1 = """
Add your query here
"""
%sql {query1}

### Exercise 2
Create a new column named "cost". It should have a value of "expensive" if wine's price is equal or greate than 100 and otherwise "cheap".

In [ ]:
query2 = """
Add your query here
"""
%sql {query2}

### Exercise 3
Create a new column named "bargain" which has a value of "true" if the wine's point is higher than 90 and its price is lower than $20. Otherwise the columns should be "false".

In [ ]:
query3 = """
Add your query here
"""
%sql {query3}

### Exercise 4
Continuing on the last exercise, find all the bargain wines.

In [ ]:
query4 = """
Add your query here
"""
%sql {query4}