# Nested queries

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alikn/intro_to_business_analytics/blob/main/8_nested_queries.ipynb)

In [ ]:
%load_ext sql
%pip install mysqlclient

In [ ]:
host = 'bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315' # @param {type:"string"}
user_name = '' # @param {type:"string"}
password = '' # @param {type:"string"}
db_address = f'mysql://{user_name}:{password}@bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315'
%sql {db_address}

We will use the following tables today:
- `bcg_projects`
- `bcg_employees`
- `bcg_emp_projects`

### Exercise 1
Select ten rows from each of the tables.

In [ ]:
query1_1 = """
SELECT *
FROM abt_datasets.bcg_projects
LIMIT 10
"""
%sql {query1_1}

In [ ]:
query1_2 = """
Add your query here
"""
%sql {query1_2}

In [ ]:
query1_3 = """
Add your query here
"""
%sql {query1_3}

### Exercise 2
Find out the maximum number of projects that an employee has been assigned to.

In [ ]:
# Use subqueries
query2_1 = """
Add your query here
"""
%sql {query2_1}

In [ ]:
# Use CTEs
query2_2 = """
Add your query here
"""
%sql {query2_2}

### Exercise 3
Find the employee who receives the highest salary without using ORDER BY cluase.

In [ ]:
# Use subqueries
query3_1 = """
Add your query here
"""
%sql {query3_1}

In [ ]:
# Use CTEs
query3_2 = """
Add your query here
"""
%sql {query3_2}

### Exercise 4
Find the employees who receive more than average salary.

In [ ]:
# Use subqueries
query4_1 = """
Add your query here
"""
%sql {query4_1}

In [ ]:
# Use CTEs
query4_2 = """
Add your query here
"""
%sql {query4_2}

### Exercise 5
What are the project names for projects which an employee with last name 'Mccarthy' is working on?

In [ ]:
# Use nested queries
query5_1 = """
Add your query here
"""
%sql {query5_1}

In [ ]:
# Do not use nested queries
query5_2 = """
Add your query here
"""
%sql {query5_2}

### Exercise 6
Find the names of employees who work on the project/projects with the highest budget.

In [ ]:
query6 = """
Add your query here
"""
%sql {query6}