# Project data processing patterns

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alikn/intro_to_business_analytics/blob/main/project/data_processing_patterns.ipynb)

In [ ]:
%load_ext sql
%pip install mysqlclient

In [ ]:
host = 'bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315' # @param {type:"string"}
user_name = '' # @param {type:"string"}
password = '' # @param {type:"string"}
db_address = f'mysql://{user_name}:{password}@bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315'
%sql {db_address}

## Goal
The goal of this assignment is to get you started on the final project. Go through the questions and submit the deliverable as described below.

## Steps
- Open this notebook in Colab like all the other notebooks we have worked on.
- Make a copy by clicking on "File > Save a copy in drive" option. This will help you keep your answers as you make progress working on your final project.
- Go through the questions with your teammates.
- Once you are done, use `File > Download > Download .ipynb` to download an ipynb file.
- Upload the file on Canvas.

### Question 1
Think of yourself as the business owner that has given you the task to analyze this dataset. What are the three main questions you want to get insights on?

Add your research questions here:  
1.  a
1.  b
1.  c

### Question 2
Write a simple select query to get 10 rows of data from your dataset.

In [ ]:
query1 = """
# Add your query here
"""
%sql {query1}

### Question 3
Add a query using transformation pattern that can be useful for your project.

In [ ]:
query2 = """
# Add your query here
"""
%sql {query2}

### Question 4
Add a query using filtering pattern that can be useful for your project.

In [ ]:
query3 = """
# Add your query here
"""
%sql {query3}

### Question 5
Add a query using aggregation pattern that can be useful for your project.

In [ ]:
query4 = """
# Add your query here
"""
%sql {query4}

### Question 6
Add a query using grouping pattern that can be useful for your project.

In [ ]:
query5 = """
# Add your query here
"""
%sql {query5}