# Aggregation assignment

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alikn/intro_to_business_analytics/blob/main/assignments/aggregation.ipynb)

## How to submit your assignment 
Once you are done with all questions, use `File > Download > Download .py` menu to download a Python file which includes your queries. This is the file you should submit for your assignment.

## How are the assignments graded
The assignments will be graded by computer and therefore there is no partial score for each question. Pay extra attention to the discription of the questions.

## Setup
Similar to the in-class activities, run the following cells to get started.

In [ ]:
%load_ext sql
%pip install mysqlclient

In [ ]:
host = 'bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315' # @param {type:"string"}
user_name = '' # @param {type:"string"}
password = '' # @param {type:"string"}
db_address = f'mysql://{user_name}:{password}@bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315'
%sql {db_address}

## Data
For this assignment, we are going to use `us_flights` table.  

**Note**: Not all questions are necessarily solved by aggregation. You might need to use your SQL skills from previous sessions too.

Query example:

In [ ]:
query0 = """
SELECT *
FROM abt_datasets.us_flights
LIMIT 10
"""
%sql {query0}

### Question 1
Select columns unique_carrier, origin, dest, arr_delay, distance, actual_elapsed_time without any limit on the number of rows.

In [ ]:
query1 = """
Add your query here
"""
%sql {query1}

### Question 2
Find the total number of cancelled flights and total number of flights in the dataset and name the columns in the response `cancelled_flights` and `total_flights` respectively. The response should only include these two numbers.

In [ ]:
query2 = """
Add your query here
"""
%sql {query2}

### Question 3
What **percentage** of flights were cancelled? Name the column `percent_cancelled`.

In [ ]:
query3 = """
Add your query here
"""
%sql {query3}

### Question 4
What is the average distance flown per carrier. Arrange the results by distance in ascending order and name the average column `avg_distance`.

In [ ]:
query4 = """
Add your query here
"""
%sql {query4}

### Question 5
The flight between which two airports had the maximum flight duration (actual_elapsed_time)? The result should include only three columns: origin, dest, and actual_elapsed_time. Name the third column `max_actual_elapsed_time`.

In [ ]:
query5 = """
Add your query here
"""
%sql {query5}

### Question 6
What was the highest flight time (actual_elapsed_time) out of each airport? The result should include only two columns: origin and `max_actual_elapsed_time` and should be ordered descendingly by the second column.

In [ ]:
query6 = """
Add your query here
"""
%sql {query6}

### Question 7
Write a query to find the sum of arr_delay and carier_delay (there is a typo in column name) per carrier. The result should have two columns: unique_carrier and `sum_delay` ordered in an ascending fashion by second column.

In [ ]:
query7 = """
Add your query here
"""
%sql {query7}

### Question 8
Which flight route (origin and dest pair) has the most arr_delay? The result should include three solumns: origin, dest, `avg_arr_delay`.

In [ ]:
query8 = """
Add your query here
"""
%sql {query8}