# Joins

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alikn/intro_to_business_analytics/blob/main/assignments/joins.ipynb)

## How to submit your assignment 
Once you are done with all questions, use `File > Download > Download .py` menu to download a Python file which includes your queries. This is the file you should submit for your assignment.

## How are the assignments graded
The assignments will be graded by computer and therefore there is no partial score for each question. Pay extra attention to the discription of the questions.

## Setup
Similar to the in-class activities, run the following cells to get started.

In [ ]:
%load_ext sql
%pip install mysqlclient

In [ ]:
host = 'bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315' # @param {type:"string"}
user_name = '' # @param {type:"string"}
password = '' # @param {type:"string"}
db_address = f'mysql://{user_name}:{password}@bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315'
%sql {db_address}

## Data
For the first section of this assignment, we are going to use `chewy_employee` and `chewy_department` tables.  

Query examples:

In [ ]:
query0_1 = """
SELECT *
FROM abt_datasets.chewy_employee
LIMIT 10
"""
%sql {query0_1}

In [ ]:
query0_2 = """
SELECT *
FROM abt_datasets.chewy_department
LIMIT 10
"""
%sql {query0_2}

### Question 1
Join the tables and output the list of employees which include the employee id, first name, last name and department name. Keep the original column names. Order the output with id in an ascending fashion.

In [ ]:
query1 = """
Add your query here
"""
%sql {query1}

### Question 2
Select rows of `chewy_employee` table to include employees in engineering or sales departments. The output should include columns similar to `chewy_employee` table and be ordered by employee id in ascending fashion.

In [ ]:
query2 = """
Add your query here
"""
%sql {query2}

### Question 3
The employee with highest salary is in which department? The output should only include one row and two columns: salary, department.

In [ ]:
query3 = """
Add your query here
"""
%sql {query3}

Solve the following questions using the following tables:
- `bcg_projects`
- `bcg_employees`
- `bcg_emp_projects`

Query examples:

In [ ]:
query0_3 = """
SELECT *
FROM abt_datasets.bcg_projects
LIMIT 10
"""
%sql {query0_3}

In [ ]:
query0_4 = """
SELECT *
FROM abt_datasets.bcg_employees
LIMIT 10
"""
%sql {query0_4}

In [ ]:
query0_5 = """
SELECT *
FROM abt_datasets.bcg_emp_projects
LIMIT 10
"""
%sql {query0_5}

### Question 4
Create a list of all bcg employees with the title of project they are assigned to. The output should include the id of the employee, first name, last name and project title. Name of columns: id, first_name, last_name, title. Order the output by the id in ascending fashion.

In [ ]:
query4 = """
Add your query here
"""
%sql {query4}

### Question 5
Find how many employees are assigned to project with id 37. The output should include only one row and one column. Name the column 'num'.

In [ ]:
query5 = """
Add your query here
"""
%sql {query5}