# SFW queries assignment

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alikn/intro_to_business_analytics/blob/main/assignments/sfw_queries.ipynb)

## How to submit your assignment 
Once you are done with all questions, use `File > Download > Download .py` menu to download a Python file which includes your queries. This is the file you should submit for your assignment.

## How are the assignments graded
The assignments will be graded by computer and therefore there is no partial score for each question. Pay extra attention to the discription of the questions.

## Setup
Similar to the in-class activities, run the following cells to get started.

In [ ]:
%load_ext sql
%pip install mysqlclient

In [ ]:
host = 'bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315' # @param {type:"string"}
user_name = '' # @param {type:"string"}
password = '' # @param {type:"string"}
db_address = f'mysql://{user_name}:{password}@bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315'
%sql {db_address}

## Data
For this assignment, we are going to use `titanic` table.  
Here is the description of the columns:  
- passengerid: id in the table
- pclass: Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
- survived: Survival (0 = No; 1 = Yes)
- name: Name
- sex: Sex
- age: Age
- sibsp: Number of Siblings/Spouses Aboard
- parch: Number of Parents/Children Aboard
- ticket: Ticket Number
- fare: Passenger Fare (British pound)
- cabin: Cabin
- embarked: Port of Embarkation

Query example:

In [ ]:
query0 = """
SELECT *
FROM abt_datasets.titanic
LIMIT 10
"""
%sql {query0}

### Question 1
Write a query to return the 10 oldest passengers (ordered descendingly by age). The result should include all columns in the table.

In [ ]:
query1 = """
Add your query here
"""
%sql {query1}

### Question 2
Write a query to return the first 10 rows with the lowest passengerid.

In [ ]:
query2 = """
Add your query here
"""
%sql {query2}

### Question 3
What was the highest fare paid? The result should include only one row and only the fare column.

In [ ]:
query3 = """
Add your query here
"""
%sql {query3}

### Question 4
Query the data to find out the distinct ports passengers got on the ship from. The result should only include the `embarked` column.

In [ ]:
query4 = """
Add your query here
"""
%sql {query4}

### Question 5
Query the table to find the top 10 passengers with most siblings/spouses onboard. Return only the names and sibsp columns ordered by their sibsp descending and name.

In [ ]:
query5 = """
Add your query here
"""
%sql {query5}

### Question 6
Write a query to return the survived passengers. The result should include all columns.   
Note: the values in survived column are strings (texts) and need single quotation in the WHERE clause.

In [ ]:
query6 = """
Add your query here
"""
%sql {query6}

### Question 7
Write a query to return the 10 highest fares paid by passengers who survived.

In [ ]:
query7 = """
Add your query here
"""
%sql {query7}

### Question 8
Wrtie a query to return the lowest age of a survived passenger. The result should include only one column (age) and one row and should not be NULL.

In [ ]:
query8 = """
Add your query here
"""
%sql {query8}

### Question 9
Write a query to return passengers which had 'Engelhart' as part of their name. The result should include all columns.

In [ ]:
query9 = """
Add your query here
"""
%sql {query9}

### Question 10
Write a query to return the passenger in cabin 'B30'.

In [ ]:
query10 = """
Add your query here
"""
%sql {query10}