# Data transformation and aggregation assignment

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alikn/intro_to_business_analytics/blob/main/assignments/transformation_and_aggregation.ipynb)

## How to submit your assignment 
Once you are done with all questions, use `File > Download > Download .py` menu to download a Python file which includes your queries. This is the file you should submit for your assignment.

## How are the assignments graded
The assignments will be graded by computer and therefore there is no partial score for each question. Pay extra attention to the discription of each question.

## Setup
Similar to the in-class activities, run the following cells to get started.

In [ ]:
%load_ext sql
%pip install mysqlclient

In [ ]:
host = 'bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315' # @param {type:"string"}
user_name = '' # @param {type:"string"}
password = '' # @param {type:"string"}
db_address = f'mysql://{user_name}:{password}@bsa315.cbd3lbq00qqd.us-east-2.rds.amazonaws.com:3306/BSA315'
%sql {db_address}

## Data
For this assignment, we are going to use `us_flights` table.  

**Note**: Not all questions are necessarily solved by what you learned in transformation and aggregation lectures. You might need to use your SQL skills from previous sessions too.

Query example:

In [ ]:
query0 = """
SELECT *
FROM abt_datasets.us_flights
LIMIT 10
"""
%sql {query0}

### Question 1
`distance` column contains the distance between origin and destination in miles and `actual_elapsed_time` contains the flight duration in minutes. Calculate the speed of each flight in miles per hour unit and name the new column `speed`. The output should include `origin`, `dest`, `distance`, `actual_elapsed_time` and `speed` columns ordered by `speed` column descendingly.

In [ ]:
query1 = """
Add your query here
"""
%sql {query1}

### Question 2
Select `flight_date`, `unique_carrier`, `flight_num`, `origin`,	`dest` columns with a new column made of `origin` and `dest` columns concatenated together and seperated by an underscore with no space on either side ('_'). Name the new column `origin_dest` and order the result by `flight_date` ascendingly.

In [ ]:
query2 = """
Add your query here
"""
%sql {query2}

### Question 3
'SFO' is the airport code for San Francisco airport. Select `flight_date`, `origin` and `dest` columns and add a new column called `origin_bay_area`. The new column should have a value 'yes' if `origin` is 'SFO' and 'no' otherwise. Order the output by `flight_date` ascendingly.

In [ ]:
query3 = """
Add your query here
"""
%sql {query3}

### Question 4
Select `flight_date`, `origin`, `dest` and `distance` columns and add a new column called `long_flight`. The new column should have a value 'yes' if `distance` is greater than or equal to 1000 and 'no' otherwise. Order the output by `flight_date` ascendingly.

In [ ]:
query4 = """
Add your query here
"""
%sql {query4}

### Question 5
Find the total number of cancelled flights and total number of flights in the dataset and name the columns in the response `cancelled_flights` and `total_flights` respectively. The response should only include these two numbers.

In [ ]:
query5 = """
Add your query here
"""
%sql {query5}

### Question 6
What **percentage** of flights were cancelled? Name the column `percent_cancelled`.

In [ ]:
query6 = """
Add your query here
"""
%sql {query6}

### Question 7
What is the average distance flown per carrier. Arrange the results by average distance in ascending order and name the average column `avg_distance`.

In [ ]:
query7 = """
Add your query here
"""
%sql {query7}

### Question 8
The flight between which two airports had the maximum flight duration (`actual_elapsed_time`)? The result should include only three columns: `origin`, `dest`, and the new column `max_actual_elapsed_time`.

In [ ]:
query8 = """
Add your query here
"""
%sql {query8}

### Question 9
What was the highest flight time (actual_elapsed_time) out of each airport? The result should include only two columns: `origin` and `max_actual_elapsed_time` and should be ordered descendingly by the second column.

In [ ]:
query9 = """
Add your query here
"""
%sql {query9}

### Question 10
Which flight route (`origin` and `dest` pair) has the highest `arr_delay` on average? The result should include only one row and three columns: `origin`, `dest`, `avg_arr_delay`.

In [ ]:
query10 = """
Add your query here
"""
%sql {query10}